<div class="row my-3 align-items-center">
  <div class="col-sm-11">
    <%= render "datepicker", appointment: appointment %>
  </div>
  <%= link_to appointment_path(appointment),
      method: :delete,
      remote: true,
      class: "btn btn-danger col-sm-1" do %>
      <i class="fas fa-times"></i>
  <% end %>
</div>
